$primary: #006699;

h2 {
	color: $primary;
}


#LocationList
{
	width : 60%;
	float : left;
}

#Key
{
	width : 30%;
	float : right;
}

#column-one{ float: left; width: 33%; }
#column-two{ float: left; width: 33%; }
#column-three{ float: left; width: 33%; }